:root {
  --main-color-dark-hover: #0f5e80;
  --main-color-dark: #1b8bbf;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 50%;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar {
  color: var(--main-color-dark);
  font-size: 20px;
  text-decoration: none;
}

.navbar:hover,
.navbar:active {
  cursor: pointer;
  color: var(--main-color-dark-hover);
  transform: translateY(2.5px);
  transition: transform 0.5s;
}

/* Animacja do ustawień */
.navbar.settings:hover .bi-gear-fill {
  transition: rotate 1.25s ease-out;
  rotate: 180deg;
  display: inline-block;
}
/* Obrazek telefonu */
.navbar.home:hover .bi-telephone-fill {
  animation: tada 1.25s;
  animation-iteration-count: 1.25s;
  display: inline-block;
}
/* Aniamcja do obrazka telefonu */
@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%,
  20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
