:root {
  --backgroud: #f6f4eb;
  --font-color: #cbe3ef;
  --main-color: #4682a9;
  --header-color: #4682a9;
  --slider-color: #749bc2;
  --main-color-dark: #2b6d9e;
  --button-hover: #2b6d9e;
  --circle-color: linear-gradient(
    114deg,
    rgba(70, 130, 169, 0.47) -36.25%,
    #749bc2 49.07%,
    #91c8e4 142.75%
  );
  --main-modal: linear-gradient(147deg, #4682a9 15.89%, #91c8e4 113.91%);
  --light: rgba(0, 0, 0, 0.4);
  --dark: rgba(255, 255, 255, 0.4);
}
/*------------------------------------------------------------------------------Zmiana koloru na ciemny ------------------------------------------------------------------------------ */
.dark-theme {
  --backgroud: #161a30;
  --font-color: #b6bbc4;
  --main-color: #43425f;
  --header-color: #b6bbc4;
  --slider-color: #4d4d4d;
  --main-color-dark: #b6bbc4;
  --button-hover: #33324f;
  --circle-color: linear-gradient(157deg, #31304d 19.59%, #b6bbc4 130.72%);
  --main-modal: linear-gradient(157deg, #31304d 19.59%, #b6bbc4 130.72%);
  --light: #161a30;
  --dark: #43425f;
}

body {
  background: var(--backgroud);
  position: relative;
  overflow: hidden;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  min-height: 100vh;
  transition: 0.5s;
  margin: 0;
}
/* Kontener na wszystkie elementy */
.window {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background: transparent;
  text-align: center;
}
/* --------------------------------------- */
/* Okręgi */
/* Obudowa kół */
.circle {
  width: 45vh;
  height: 45vh;
  border-radius: 55vh 0 0 0;
  content: "";
  position: absolute;
}
/* Okręg górny */
.c-top {
  background: var(--circle-color);
  top: 0;
  right: 0;
  transform: rotate(-90deg);
}
/* Okręg dolny */
.c-bottom {
  background: var(--circle-color);
  bottom: 0;
  left: 0;
  transform: rotate(90deg);
}
/* --------------------------------------- */
.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: var(--font-color);
  cursor: pointer;
  font-size: 1.15em;
}
.box {
  text-align: center;
}
/* --------------------------------------- */
/* Kontener na content */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.wrapper-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 30px;
}
#mid {
  outline: wrap;
  inline-size: 200px;
}
/* Główny tekst */
.header {
  font-size: 38px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
  color: var(--header-color);
}

/* Kontener na przycisk i input boxa */
#search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* Input Box */
.form-label {
  font-size: 32px;
  font-weight: 600;
}
.form-number {
  width: 500px;
  height: 55px;
  box-sizing: border-box;
  font-size: 28px;
  letter-spacing: 2px;
  text-align: center;
  border-radius: 8px;
}
/* Przycisk do dzwonienia */
.call-button {
  width: 175px;
  height: 55px;
  vertical-align: middle;
  font-size: 22px;
  font-weight: 600;
  line-height: 55px;
  background: var(--main-color);
  cursor: pointer;
  color: var(--font-color);
  border-radius: 15px;
  margin: 0 auto 0 15px;
  transform: translateY(0px);
  transition: 0.5s;
}

.call-button:hover {
  background: var(--button-hover);
  transform: translateY(-5px);
  transition: 0.5s;
}
.bi-headset {
  font-size: 20px;
  margin-right: 10px;
}
/* Błąd */
.error {
  border: 1px solid #ff0000;
  background: rgb(255, 170, 170);
}
/* --------------------------------------- */

.box {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box.wbuttons {
  height: 100%;
}
/* ------------------------------------------------------------------------------ Navbar ------------------------------------------------------------------------------*/
nav {
  padding-top: 1vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 60%;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar {
  color: var(--main-color-dark);
  font-size: 30px;
  text-decoration: none;
  transform: translateY(0px);
  transition: transform 0.5s;
}

.navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--main-color-dark);
  transition: width 0.3s ease;
}

.navbar:hover::after {
  width: 100%;
}

.navbar:hover,
.navbar:active {
  cursor: pointer;
  color: var(--main-color-dark);
  transform: translateY(2.5px);
  transition: transform 0.5s;
}

/* Animacja do ustawień */
.navbar.settings .bi-gear-fill {
  transition: rotate 1.25s ease-out;
  rotate: 0deg;
  display: inline-block;
}
.navbar.settings:hover .bi-gear-fill {
  transition: rotate 1.25s ease-out;
  rotate: 180deg;
  display: inline-block;
}
/* Obrazek telefonu */
.navbar.home:hover .bi-telephone-fill {
  animation: tada 1.25s;
  animation-iteration-count: 1.25s;
  display: inline-block;
}
/* Historia połączeń */
.navbar.callHist .bi-hourglass {
  transition: rotate 1.25s ease-out;
  rotate: 0deg;
  display: inline-block;
}
.navbar.callHist:hover .bi-hourglass {
  transition: rotate 1.25s ease-out;
  rotate: 180deg;
  display: inline-block;
}
/* Aniamcja do obrazka telefonu */
@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%,
  20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%,
  60%,
  80% {
    transform: scale(1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1) rotate(0);
  }
}
/* --------------------------------------------------------------------Modal--------------------------------------------------------------------*/
/*  */

/* Modal */
.modal {
  position: fixed;
  z-index: 1;
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: 3% auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
/* Zawartość modala */
.modal-content {
  background: var(--main-modal);
  margin: 0 auto;
  padding: 20px;
  width: 80%;
  border-radius: 15px;
  position: relative;
}

/* Przycisk zamkniecia modala */
.close-button {
  color: var(--main-color-dark);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.callHist-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: space-around;
  color: white;
  max-height: 175px;
  overflow: auto;
}
.callHist-list::-webkit-scrollbar {
  width: 10px;
}

.callHist-list::-webkit-scrollbar-track {
  background: transparent;
}

.callHist-list::-webkit-scrollbar-thumb {
  background: var(--main-color-dark);
}

.callHist-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.callHist-Wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.modal-header {
  color: white;
}

/* --------------------------------------------------------------------Zmiana kolorów --------------------------------------------------------------------  */
.toggle-wrap {
  position: relative;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-switch {
  width: 0;
  height: 0;
  visibility: hidden;
}

.toggle {
  position: relative;
  width: 85px;
  height: 34px;
  border-radius: 100px;
  background: #ebebeb;
  box-shadow: inset 0 5px 10px var(--light), inset 0 -5px 10px var(--dark);
  transition: 0.3s ease-in-out;
}

.toggle:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}

.toggle i {
  position: absolute;
  font-size: 40px;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.toggle i:first-child {
  top: 6px;
  left: 6px;
  color: #fff;
  font-size: 20px;
}
.toggle i:last-child {
  bottom: 6px;
  right: 6px;
  color: #7e7e7e;
  font-size: 20px;
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.toggle-switch:checked ~ .text {
  color: #fff;
}
.toggle-switch:checked ~ .toggle {
  background: #242424;
}
.toggle-switch:checked ~ .toggle:after {
  transform: translateX(50px);
  background: var(--main-modal);
}

.toggle-switch:checked ~ .toggle i:first-child {
  color: #7e7e7e;
}

.toggle-switch:checked ~ .toggle i:last-child {
  color: #fff;
}

/* -------------------------------------------------------------------- Mobilka --------------------------------------------------------------------  */

@media (max-width: 1800px) {
  .circle {
    width: 35vh;
    height: 35vh;
    border-radius: 35vh 0 0 0;
  }
}
@media (max-width: 1400px) {
  .circle {
    width: 25vh;
    height: 25vh;
    border-radius: 25vh 0 0 0;
  }
  .modal {
    margin: 5% auto;
  }
}
@media (max-width: 1100px) {
  .circle {
    width: 15vh;
    height: 15vh;
    border-radius: 15vh 0 0 0;
  }
  .modal {
    margin: 7% auto;
  }
}
@media (max-width: 900px) {
  .circle {
    display: none;
  }
  .header {
    font-size: 30px;
  }
  nav {
    width: 100%;
  }
  .form-label {
    font-size: 20px;
  }
  .form-number {
    width: 300px;
    height: 45px;
    font-size: 22px;
    letter-spacing: 2px;
  }
  .call-button {
    width: 125px;
    height: 45px;
    font-size: 18px;
    line-height: 45px;
  }
  .form-number::placeholder {
    font-size: 20px;
  }
  .modal {
    width: 100%;
    margin: 9% auto;
  }

  .modal-content {
    margin: 0 auto;
    padding: 20px;
  }
}
@media (max-width: 570px) {
  .header {
    font-size: 25px;
  }
  .navbar {
    font-size: 25px;
  }
  .navbar.home {
    font-size: 0px;
  }
  .navbar.home .bi-telephone-fill {
    font-size: 35px;
  }
  .navbar.callHist {
    font-size: 0px;
  }
  .navbar.callHist .bi-hourglass {
    font-size: 35px;
  }
  .form-label {
    font-size: 15px;
  }
  .form-number {
    width: 200px;
    height: 35px;
    font-size: 18px;
    letter-spacing: 2px;
  }
  .call-button {
    width: 70px;
    height: 35px;
    font-size: 0px;
    line-height: 35px;
  }
  .bi-headset {
    margin-right: 0px;
  }
  .form-number::placeholder {
    font-size: 15px;
  }
  .modal {
    margin: 14% auto;
  }
}
@media (max-width: 470px) {
  .header {
    font-size: 20px;
  }
  .navbar {
    font-size: 20px;
  }
  .form-label {
    font-size: 12px;
  }
  .form-number {
    width: 150px;
    height: 25px;
    font-size: 15px;
    letter-spacing: 2px;
  }
  .call-button {
    width: 65px;
    height: 25px;
    font-weight: 600;
    line-height: 25px;
  }
  .form-number::placeholder {
    font-size: 10px;
  }
  .modal {
    margin: 18% auto;
  }
}
